body{
	background-color: #CFFFDD;
}

/**********************************************************************/
/*********************** ESTILOS PARA LIGHTBOX ************************/

#lightbox {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	padding: 5px;
	border: 5px solid mediumturquoise;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

#lightbox > div {
	width:100%;
	text-align:center;
}

#lightbox #textoLightbox {
	margin:0;
	padding:3%;
}

#lightbox.finish {
	display: auto;
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;
	padding: 5px;
	border: 5px solid mediumturquoise;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

#lightbox #results {
	display:inline-block;
	text-align:center;
	height:65%;
	width:100%;
	position:relative;
}

#lightbox #results > div {
	position:absolute;
	bottom:0;
	width:100%;
}

#lightbox #results > div > div {
	display:inline-block;
	margin:5px;
	vertical-align:bottom;
}

#lightbox #results #marcadorA {
	height:10000px;
	max-height:10px;
	border:1px solid black;
	min-width:50px;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
	-webkit-transition: 2s;
	transition: 2s;
}

#lightbox #results #marcadorB {
	height:10000px;
	max-height:10px;
	border:1px solid black;
	min-width:50px;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 5s;
	transition: 5s;
}

/*************************************************************************/
/********************* ESTILOS PARA DARKNESS *****************************/

#darkness {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

/*************************************************************************/
/************************ ESTILOS PARA WAITING PLAYER ********************/

#waitingPlayer p{
	text-align: center;
	font-size: 1.5em;
}

#waitingPlayer #loader {
	display: block;
	position: relative;
	left: 44%;
	/*top: 50%;*/
	width: 150px;
	/*height: 150px;*/
	margin: 100px 0 0 0;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;

	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#waitingPlayer #loader:before {
	content: "";
	position: absolute;
	top: -3px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#waitingPlayer #loader:after {
	content: "";
	position: absolute;
	top: -3px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

/**************************************************************************/
/************************** ESTILOS PARA DIVGAME **************************/

#divGame #indicadorTurno .names{
	float:left;
	margin-right:5px;
}

#divGame #indicadorTurno .espacioTurno {
	-webkit-transition: background-color 0.5s linear;
	width:20px;
	height:20px;
	border:1px solid black;
	float:left;
}

#divGame #indicadorTurno .espacioTurno.inactive {
	-webkit-transition: background-color 0.5s linear; 
	background: #FFF !important;
}

#divGame #indicadorTurno #iconoFlecha{
	-webkit-transition: transform 0.2s linear;
	background-image: url("http://www2.psd100.com/ppp/2013/11/2701/Left-arrow-1127194155.png");
	float:left;
	width:20px;
	height:20px;
	background-size:cover;
	margin:0 5px;
}

#divGame #indicadorTurno #iconoFlecha.inverse{
	-webkit-transition: transform 0.2s linear;
	transform: rotate(180deg);
}

#divGame canvas {
	border:solid 1px black;
	display:block;
}


/**************************************************************************/
/********************************* ANIMACIONES ****************************/
 
@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

/**************************************************************************/
/************************** ESTILOS PARA LOGIN FORM ****************************/

.loginForm{
	display:none;
}

.loginForm table{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.loginForm table tr td button{
	width:20%;
	margin:0 4%;
}

/**************************************************************************/
/************************** ESTILOS PARA REGIS FORM ****************************/

.regisForm{
	display:none;
}

.regisForm table{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.regisForm table tr td input.denegate{
	border:red 1px solid;
}

/**************************************************************************/
/************************** ESTILOS PARA BUTTONSPACES ****************************/

.buttonSpace{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:5%;
}

.buttonSpace button{
	margin:0 8%;width:20%;
}

/**************************************************************************/
/************************** ESTILOS PARA MAINDIV ****************************/

#mainDiv{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#mainDiv #menuPrincipal{
	margin-top:15%;
	display:inline-block;
	width:100%;
}

#mainDiv #menuPrincipal .options{
	background-color: white;
	width:29%;
	float:left;
	border:solid 1px black;
	margin:0 2%;
}

#mainDiv #botonSalir{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}

#mainDiv #botonSalir i{
	padding:10px;
	border-radius:20px;
	background-color:red;
}

#mainDiv #botonSalir i:hover{
	color:white;
	cursor:pointer;
}

/**************************************************************************/
/************************** ESTILOS PARA STATS ****************************/

#stats {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:none;
	margin-top:5%;
}

#stats .titulo{
	height:15%;
	border:black solid 1px;
}

#stats table{
	width:100%;
	text-align:center;
	background-color: whitE;
}

#stats table tr:nth-child(odd){
	background: #DDD;
}

#stats table tr th{
	background: #FCA;
}

#stats .divReturn{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3%;
}

#stats .divReturn i{
	padding:10px;
	width:100%;
	background-color:cornflowerblue;
}

#stats .divReturn i:hover{
	color:white;
	cursor:pointer;
}

/**************************************************************************/
/************************** ESTILOS PARA PROFILE ****************************/

#profile{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	display:none;
	margin-top:5%;
}

#profile .divImgProfile{
	width:100%;
	display:inline-block;
	text-align:center;
}

#profile .divImgProfile img{
	width:200px;
	height:200px;
	border-radius:100px;
	box-shadow:0 0 8px rgba(0,0,0,.8);
	margin:20px;
}

#profile .divInfo{
	display:none;
	background-color: white;
	width:80%;
	margin-right:auto;
	margin-left:auto;
	border:1px solid red;
}

#profile .divOptions{
	text-align:center;
	border-top:1px solid green;
	border-bottom:1px solid green;
}

#profile .divReturn{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3%;
	text-align:center;
}

#profile .divReturn i{
	padding:10px;
	width:100%;
	background-color:cornflowerblue;
}

#profile .divReturn i:hover{
	color:white;
	cursor:pointer;
}

#profile .historialMostrado{
	display:none;
}

#profile .historialMostrado table tr{
	height:40px;
}

#profile .historialMostrado table .win{
	background-color: lime;
}

#profile .historialMostrado table .lose{
	background-color: crimson;
}

#profile .historialMostrado table .eq{
	background-color: yellow;
}

/**************************************************************************/
/************************** ESTILOS PARA MODAL LOADING ****************************/

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.fa.iconoForm{
	padding:10px;
	border-radius: 25px;
}

.fa.iconoNeutro{
	background-color: gray;
}

.fa.iconoError{
	background-color: red;
}

.fa.iconoValid{
	background-color: green;
}

#loginError{
	background-color:red;
	display:none;
	border-radius:15px;
}

#divInfo{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}